select#materials{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    width: inherit;
    background: #1d1d1d;
    border: none;
    outline: none;
    color: #fff;
    box-shadow: none;
    background-image: none;
    padding: 0 .5em;
}

select#material::-ms-expand{
    display: none;
}

select#material option {
    background-color: #fd961a;
    color: #fff;
}

.select-material {
    display: flex;
    position: relative;
    justify-content: center;
}

.select-material::after {
    content: '';
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    border-top: 8px solid #fff;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    pointer-events: none;
}

.select-material:hover::after{
    border-top-color: #fd961a;
    pointer-events: none;
}

.select-material:hover::after {
    color: #fd961a;
}


li#material-rates-page-link{
    display: none;
}

